@import '../common_styles';

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-content-color);

    @include reset-a-effects(var(--header-text-color));

    .login-container {
        margin: 0px 32px;
        width: 348px;
        height: 600px;
        padding: 30px;
        border-radius: var(--main-border-radius);
        background-color: #ffffff;
        @include box-shadow(0px 5px 10px 2px rgba(34, 60, 80, 0.2));
    }

    form {
        display: flex;
        flex-direction: column;

        > ul {
            display: flex;
            flex-direction: column;

            li {
                display: flex;
                flex-direction: column;

                label {
                    color: var(--icon-color);
                    font-size: 13px;
                    margin-top: 12px;
                    margin-bottom: 8px;
                }

                input {
                    padding: 4px 12px;
                    outline: none;
                    border: none;
                    border-radius: var(--main-border-radius);
                    color: var(--main-color-text);
                    font-size: 16px;
                    background-color: var(--header-background-active);
                    margin-bottom: 8px;

                    &::placeholder {
                        font-size: 13px;
                        color: var(--header-text-color);
                    }
                }

                output {
                    display: block ;
                    // visibility: hidden;
                    margin-bottom: 20px;
                    font-size: 13px;
                    color: var(--main-color);

                    &::before {
                        content: '*** ';
                    }
                }
            }

        }
    }

    .panel-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 52px;

        h4 {
            color: var(--main-logo-color);
            font-size: 32px;
        }
    }

    .panel-footer-form {
        // display: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        button {
            width: 100%;
            padding: 8px 12px;
            border: none;
            border-radius: var(--main-border-radius);
            color: var(--main-color-text);
            font-size: 16px;
            background-color: var(--header-background-active);
            margin-top: 16px;

            &:hover {
                color: #ffffff;
                background-color: var(--main-color);
                cursor: pointer;
            }
        }

        a {
            margin: 12px 0px;
            font-size: 13px;
            color: var(--main-logo-color);
        }
    }

    .panel-footer {
        // display: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: var(--header-border-bottom);

        a {
            margin: 12px 0px;
            font-size: 13px;
            color: var(--main-logo-color);

            span {
                color: var(--main-color-text);
                text-decoration: underline;
            }

            &:hover {
                cursor: pointer;

                span {
                    color: var(--main-color);
                }
            }
        }
    }
}