
header{
    flex-grow: 1;

    @extend %flex-row-center;
    justify-content: flex-end;

    position: sticky;
    top: 0;
    min-height: var(--header-height);
    max-height: var(--header-height);
    z-index: $header-z-index;
    background-color: var( --header-background-color);
    border-bottom: var(--header-border-bottom);

    color: var(--header-text-color);
    font-size: var(--sidebar-font-size);

    section.account-control {
        @extend %flex-row-center;
        margin: 0px 40px;
        height: 50px;


        .notifications {
            @extend %flex-row-center;
            justify-content: center;

            height: inherit;
            border-radius: var(--main-border-radius);
            padding: var(--header-element-padding);


            &:hover {
                background-color: var(--header-background-active);
                cursor: pointer;
            }

            .icon-header-notification {
                height: 24px;
                width: 24px;
                @include img-block-mask('#{$main_path_to_resources}/notifications_24.svg', var(--icon-color));
            }

            &::after {
                position: relative;
                top: -10px;
                right: 4px;
                width: 24px;
                height: 20px;
                border-radius: 50%;

                padding-top: 5px;
                text-align: center;

                content: attr(value);
                color: white;
                font-size: 10pt;
                font-weight: bold;
                background-color: var(--main-color);
            }
        }

        .account-block {
            display: flex;
            flex-direction: column;
            justify-content: center;

            height: inherit;
            border-radius: var(--main-border-radius);
            padding: var(--header-element-padding);


            &:hover {
                background-color: var(--header-background-active);
                cursor: pointer;


                .sub-menu {
                    display: block;
                    margin: 4px 0px;
                    position: fixed;
                    top: 56px;
                    width: 168px;
                    margin-left: -8px;
                }
            }

            .account-block-menu {
                display: none;
            }

            .account-block-main {
                @extend %flex-row-center;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: var(--main-border-radius);
                    margin-right: 12px;
                    background-size: contain;
                    @include box-shadow(0px 0px 10px -0px rgba(34, 60, 80, 0.2));
                }

                .account-name {
                    @extend %flex-row-center;
                    justify-content: center;


                    span {
                        width: 84px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .icon-triangle {
                        width: 20px;
                        height: 20px;
                        transform: rotate(180deg);
                        @include img-block-mask('#{$main_path_to_resources}/change_history_20.svg', var(--icon-color));
                    }
                }
            }

        }

    }

    section.control-panel {
        @extend %flex-row-center;
        visibility: hidden;


        .logo {
            width: 50px;
            height: 50px;


            i {
                width: inherit;
                height: inherit;
                float: left;
                background-color: rgb(214, 255, 118);
                border-radius: 50%;
            }
        }
    }

}