:root {
  --main-logo-color: #949494;
  --main-color: #D44137;
  --main-border-radius: 8px;
  --main-color-text: #444444;
  --icon-color: #949494;
  --header-height: 68px;
  --header-border-bottom: 2px solid #f1f1f1;
  --header-background-color: #ffffff;
  --header-element-padding: 4px 8px 4px 8px;
  --header-text-color: #6F6F6F;
  --header-background-active: #f3f3f3;
  --sidebar-panel-width: 256px;
  --sidebar-font-size: 13px;
  --item-container-column-size: 80px;
}

header section.control-panel, header section.account-control .account-block .account-block-main .account-name, header section.account-control .account-block .account-block-main .account-logo, header section.account-control .account-block .account-block-main, header section.account-control .notifications, header section.account-control, header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-menu > menu li, .main-block section.sidebar section > menu li {
  border-radius: var(--main-border-radius);
  padding: 4px 8px;
  margin: 4px 0px;
}

header {
  flex-grow: 1;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  min-height: var(--header-height);
  max-height: var(--header-height);
  z-index: 90;
  background-color: var(--header-background-color);
  border-bottom: var(--header-border-bottom);
  color: var(--header-text-color);
  font-size: var(--sidebar-font-size);
}
header section.account-control {
  margin: 0px 40px;
  height: 50px;
}
header section.account-control .notifications {
  justify-content: center;
  height: inherit;
  border-radius: var(--main-border-radius);
  padding: var(--header-element-padding);
}
header section.account-control .notifications:hover {
  background-color: var(--header-background-active);
  cursor: pointer;
}
header section.account-control .notifications svg {
  width: 24px;
  height: 24px;
  fill: var(--icon-color);
}
header section.account-control .notifications::after {
  position: relative;
  top: -10px;
  right: 4px;
  width: 24px;
  height: 20px;
  border-radius: 50%;
  padding-top: 5px;
  text-align: center;
  content: attr(value);
  color: white;
  font-size: 10pt;
  font-weight: bold;
  background-color: var(--main-color);
}
header section.account-control .account-block {
  display: flex;
  flex-direction: column;
  height: inherit;
  border-radius: var(--main-border-radius);
  padding: var(--header-element-padding);
}
header section.account-control .account-block:hover {
  background-color: var(--header-background-active);
  cursor: pointer;
}
header section.account-control .account-block:hover .sub-menu {
  display: block;
  margin: 4px 0px;
}
header section.account-control .account-block .account-block-menu {
  display: none;
}
header section.account-control .account-block .account-block-main .account-logo {
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--icon-color);
  border-radius: var(--main-border-radius);
  margin-right: 8px;
}
header section.account-control .account-block .account-block-main .account-logo svg {
  width: 24px;
  height: 24px;
  fill: var(--icon-color);
}
header section.account-control .account-block .account-block-main .account-name {
  justify-content: center;
}
header section.account-control .account-block .account-block-main .account-name span {
  width: 84px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header section.account-control .account-block .account-block-main .account-name svg {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  fill: var(--icon-color);
}
header section.control-panel {
  visibility: hidden;
}
header section.control-panel .logo {
  width: 50px;
  height: 50px;
}
header section.control-panel .logo i {
  width: inherit;
  height: inherit;
  float: left;
  background-color: #d6ff76;
  border-radius: 50%;
}

.main-block section.sidebar {
  z-index: 100;
  -webkit-box-shadow: 5px 0px 8px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 5px 0px 8px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 5px 0px 8px -4px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: var(--sidebar-panel-width);
  min-width: var(--sidebar-panel-width);
  background-color: #ffffff;
  color: var(--header-text-color);
  font-size: var(--sidebar-font-size);
}
.main-block section.sidebar h6 {
  color: #949494;
  margin: 8px 0px;
  font-size: 8pt;
  font-weight: normal;
}
.main-block section.sidebar .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  min-height: var(--header-height);
  background-color: var(--header-background-color);
}
.main-block section.sidebar .logo svg {
  width: 50px;
  height: 50px;
  stroke: var(--main-logo-color);
}
.main-block section.sidebar .logo h1 {
  font-size: 14pt;
  color: var(--main-logo-color);
}
.main-block section.sidebar section {
  display: flex;
  flex-direction: column;
  padding: 0px 14px;
  margin: 12px 0px;
}
.main-block section.sidebar section > menu {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.main-block section.sidebar section > menu li {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  margin-right: 8px;
}
.main-block section.sidebar section > menu li:hover {
  background-color: var(--header-background-active);
  cursor: pointer;
}
.main-block section.sidebar section > menu li svg {
  height: 40px;
  width: 40px;
  fill: var(--icon-color);
}
.main-block section.sidebar section > menu li a:active,
.main-block section.sidebar section > menu li a:hover,
.main-block section.sidebar section > menu li a:visited,
.main-block section.sidebar section > menu li a:hover,
.main-block section.sidebar section > menu li a {
  outline: none;
  text-decoration: none;
  color: var(--header-text-color);
}
.main-block section.sidebar section > menu li.activated {
  background-color: var(--header-background-active);
}
.main-block section.sidebar section.modules-items {
  overflow-y: hidden;
  margin-bottom: 20px;
}
.main-block section.sidebar section.modules-items menu {
  overflow-y: auto;
}

section.sidebar-menu {
  position: fixed;
  z-index: 150;
  left: calc( var(--sidebar-panel-width) + 10px );
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--header-text-color);
  font-size: var(--sidebar-font-size);
}
section.sidebar-menu .sub-menu {
  min-width: 120px;
}

.content-wrapper {
  flex-grow: 1;
  padding: 32px 4%;
  background-color: #F9F9FD;
  overflow: auto;
}
.content-wrapper h2 {
  position: sticky;
  top: var(--header-height);
}
.content-wrapper .items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--item-container-column-size), 1fr));
  gap: 32px;
  justify-content: center;
  margin: auto;
}
.content-wrapper .items-container .container-base-style {
  padding: 20px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: var(--main-border-radius);
  background-color: #ffffff;
}
.content-wrapper .items-container .container-one {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-wrapper .items-container .container-one .panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.content-wrapper .items-container .container-one .panel-header a:active,
.content-wrapper .items-container .container-one .panel-header a:hover,
.content-wrapper .items-container .container-one .panel-header a:visited,
.content-wrapper .items-container .container-one .panel-header a:hover,
.content-wrapper .items-container .container-one .panel-header a {
  outline: none;
  text-decoration: none;
  color: var(--header-text-color);
}
.content-wrapper .items-container .container-one .panel-header h4 {
  color: var(--header-text-color);
  font-size: 16px;
}
.content-wrapper .items-container .container-one .panel-header a.icon-panel {
  display: flex;
  align-items: center;
  height: 32px;
  width: 32px;
  border: 2px solid var(--icon-color);
  border-radius: var(--main-border-radius);
  justify-content: center;
  fill: var(--icon-color);
}
.content-wrapper .items-container .container-one .panel-header a.icon-panel svg {
  height: 24px;
  width: 24px;
  fill: inherit;
}
.content-wrapper .items-container .container-one .panel-header a.icon-panel:hover {
  fill: var(--main-color);
  border-color: var(--main-color);
  cursor: pointer;
}
.content-wrapper .items-container .container-one form {
  display: flex;
  flex-direction: column;
}
.content-wrapper .items-container .container-one form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.content-wrapper .items-container .container-one form ul li {
  display: flex;
  flex-direction: column;
}
.content-wrapper .items-container .container-one form ul li label {
  color: var(--icon-color);
  font-size: 13px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.content-wrapper .items-container .container-one form ul li input {
  padding: 4px 12px;
  outline: none;
  border: none;
  border-radius: var(--main-border-radius);
  color: var(--main-color-text);
  font-size: 16px;
  background-color: var(--header-background-active);
  margin-bottom: 8px;
}
.content-wrapper .items-container .container-one form ul li input::placeholder {
  font-size: 13px;
  color: var(--header-text-color);
}
.content-wrapper .items-container .container-one form ul li output {
  display: none;
  margin-bottom: 20px;
  font-size: 13px;
  color: var(--main-color);
}
.content-wrapper .items-container .container-one form ul li output::before {
  content: "*** ";
}
.content-wrapper .items-container .container-one form .panel-footer {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  border-top: var(--header-border-bottom);
}
.content-wrapper .items-container .container-one form .panel-footer button {
  padding: 8px 12px;
  border: none;
  border-radius: var(--main-border-radius);
  color: var(--main-color-text);
  font-size: 16px;
  background-color: var(--header-background-active);
  margin-top: 16px;
}
.content-wrapper .items-container .container-one form .panel-footer button:hover {
  color: #ffffff;
  background-color: var(--main-color);
  cursor: pointer;
}
.content-wrapper .items-container .container-2 {
  grid-column: span 3;
  height: 500px;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #f3f3f3;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 8px;
}

.main-block {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: auto;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serifsans-serif";
}

main {
  height: 100vh;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-menu {
  display: none;
  padding: 8px 0px;
  border-radius: var(--main-border-radius);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
}
.sub-menu > menu {
  list-style: none;
  overflow-y: auto;
  max-height: 150px;
}
.sub-menu > menu li:hover {
  background-color: var(--header-background-active);
  cursor: pointer;
}
.sub-menu > menu a:active,
.sub-menu > menu a:hover,
.sub-menu > menu a:visited,
.sub-menu > menu a:hover,
.sub-menu > menu a {
  outline: none;
  text-decoration: none;
  color: var(--header-text-color);
}

/*# sourceMappingURL=style.css.map */
