@charset "UTF-8";
:root {
  --admin-panel-height: 100px;
  --sidebar-panel-width: 256px;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
/* @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */
.main-block nav.sidebar .logo, header nav.control-panel, header nav.account-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  flex-grow: 1;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: var(--admin-panel-height);
  background-color: #d267e7;
}
header nav.account-control {
  padding: 0px 50px;
}
header nav.account-control .account-logo {
  width: 50px;
  height: 50px;
}
header nav.account-control .account-logo i {
  width: inherit;
  height: inherit;
  float: left;
  background-color: #ff76b6;
  border-radius: 50%;
}
header nav.control-panel .logo {
  width: 50px;
  height: 50px;
}
header nav.control-panel .logo i {
  width: inherit;
  height: inherit;
  float: left;
  background-color: #d6ff76;
  border-radius: 50%;
}

.main-block nav.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: var(--sidebar-panel-width);
  background-color: cadetblue;
}
.main-block nav.sidebar .logo {
  height: var(--admin-panel-height);
}
.main-block nav.sidebar .logo i {
  width: 50px;
  height: 50px;
  float: left;
  background: url(../resources/admin_control_panel_icon_150307.svg) center no-repeat;
}
.main-block nav.sidebar h6 {
  width: 100%;
  color: blueviolet;
  background-color: #6ebb79;
}
.main-block nav.sidebar ul:nth-child(5) {
  overflow-y: auto;
}

section.content {
  flex-grow: 1;
  background-color: #ffdcae;
}
section.content h2 {
  position: sticky;
  top: var(--admin-panel-height);
}
section.content .inf {
  height: 3000px;
}

.main-block {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 1200px;
  margin: auto;
  background-color: #fff5e8;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fixed-block {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: inherit;
}

.content-block {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
.content-block .sidebar-empty-block {
  width: var(--sidebar-panel-width);
}

/*# sourceMappingURL=main-style.css.map */
