@charset "UTF-8";
:root {
  --main-logo-color: #949494;
  --main-color: #D44137;
  --main-border-radius: 8px;
  --icon-color: #949494;
  --header-height: 68px;
  --header-border-bottom: 2px solid #f1f1f1;
  --header-background-color: #ffffff;
  --header-element-padding: 4px 8px 4px 8px;
  --header-text-color: #6F6F6F;
  --sidebar-panel-width: 256px;
  --sidebar-font-size: 13px;
}

header nav.control-panel, header nav.account-control .account-block .account-block-main .account-name, header nav.account-control .account-block .account-block-main .account-logo, header nav.account-control .account-block .account-block-main, header nav.account-control .notifications, header nav.account-control, header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-block nav.sidebar section menu li, header nav.account-control .account-block:hover .account-block-menu menu li {
  border-radius: var(--main-border-radius);
  padding: 4px 8px;
  margin: 4px 0px;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
menu,
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
menu {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
/* @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */
header {
  flex-grow: 1;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  min-height: var(--header-height);
  z-index: 90;
  background-color: var(--header-background-color);
  border-bottom: var(--header-border-bottom);
  color: var(--header-text-color);
  font-size: var(--sidebar-font-size);
}
header nav.account-control {
  margin: 0px 40px;
  height: 50px;
}
header nav.account-control .notifications {
  justify-content: center;
  height: inherit;
  border-radius: var(--main-border-radius);
  padding: var(--header-element-padding);
}
header nav.account-control .notifications:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
header nav.account-control .notifications svg {
  width: 24px;
  height: 24px;
  fill: var(--icon-color);
}
header nav.account-control .notifications::after {
  position: relative;
  top: -10px;
  right: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding-top: 0px;
  text-align: center;
  content: attr(value);
  color: white;
  font-size: 10pt;
  font-weight: bold;
  background-color: var(--main-color);
}
header nav.account-control .account-block {
  display: flex;
  flex-direction: column;
  height: inherit;
  border-radius: var(--main-border-radius);
  padding: var(--header-element-padding);
}
header nav.account-control .account-block:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
header nav.account-control .account-block:hover .account-block-menu {
  display: block;
  margin: 4px;
  padding: 8px 0px;
  border-radius: var(--main-border-radius);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 0px rgba(34, 60, 80, 0.2);
}
header nav.account-control .account-block:hover .account-block-menu menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav.account-control .account-block:hover .account-block-menu menu li:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
header nav.account-control .account-block:hover .account-block-menu menu a:active,
header nav.account-control .account-block:hover .account-block-menu menu a:hover,
header nav.account-control .account-block:hover .account-block-menu menu a:visited,
header nav.account-control .account-block:hover .account-block-menu menu a:hover,
header nav.account-control .account-block:hover .account-block-menu menu a {
  outline: none;
  text-decoration: none;
  color: var(--header-text-color);
}
header nav.account-control .account-block .account-block-menu {
  display: none;
}
header nav.account-control .account-block .account-block-main .account-logo {
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--icon-color);
  border-radius: var(--main-border-radius);
  margin-right: 8px;
}
header nav.account-control .account-block .account-block-main .account-logo svg {
  width: 24px;
  height: 24px;
  fill: var(--icon-color);
}
header nav.account-control .account-block .account-block-main .account-name {
  justify-content: center;
}
header nav.account-control .account-block .account-block-main .account-name span {
  width: 84px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header nav.account-control .account-block .account-block-main .account-name svg {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  fill: var(--icon-color);
}
header nav.control-panel {
  visibility: hidden;
}
header nav.control-panel .logo {
  width: 50px;
  height: 50px;
}
header nav.control-panel .logo i {
  width: inherit;
  height: inherit;
  float: left;
  background-color: #d6ff76;
  border-radius: 50%;
}

.main-block nav.sidebar {
  z-index: 100;
  -webkit-box-shadow: 5px 0px 8px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 5px 0px 8px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 5px 0px 8px -4px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: var(--sidebar-panel-width);
  background-color: #ffffff;
  color: var(--header-text-color);
  font-size: var(--sidebar-font-size);
}
.main-block nav.sidebar h6 {
  color: #949494;
  margin: 8px 0px;
  font-size: 8pt;
  font-weight: normal;
}
.main-block nav.sidebar .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  min-height: var(--header-height);
  background-color: var(--header-background-color);
}
.main-block nav.sidebar .logo svg {
  width: 50px;
  height: 50px;
  stroke: var(--main-logo-color);
  background: url(../resources/admin_control_panel_icon_150307.svg) center no-repeat;
}
.main-block nav.sidebar .logo h1 {
  font-size: 14pt;
  color: var(--main-logo-color);
}
.main-block nav.sidebar section {
  display: flex;
  flex-direction: column;
  padding: 0px 14px;
  margin: 12px 0px;
}
.main-block nav.sidebar section menu {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.main-block nav.sidebar section menu li {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  margin-right: 8px;
}
.main-block nav.sidebar section menu li:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.main-block nav.sidebar section menu li svg {
  height: 40px;
  width: 40px;
  fill: var(--icon-color);
}
.main-block nav.sidebar section menu li a:active,
.main-block nav.sidebar section menu li a:hover,
.main-block nav.sidebar section menu li a:visited,
.main-block nav.sidebar section menu li a:hover,
.main-block nav.sidebar section menu li a {
  outline: none;
  text-decoration: none;
  color: var(--header-text-color);
}
.main-block nav.sidebar section menu li.activated {
  background-color: #f3f3f3;
}
.main-block nav.sidebar section.modules-items {
  overflow-y: hidden;
  margin-bottom: 20px;
}
.main-block nav.sidebar section.modules-items menu {
  overflow-y: auto;
}

section.content {
  flex-grow: 1;
  padding: 24px;
  background-color: #F9F9FD;
}
section.content h2 {
  position: sticky;
  top: var(--header-height);
}
section.content .inf {
  height: 3000px;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #f3f3f3;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 8px;
}

.main-block {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 1200px;
  margin: auto;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serifsans-serif";
}

main {
  height: 100vh;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
