section.content{
    flex-grow: 1;

    background-color: rgb(255, 220, 174);

    h2 {
        position: sticky;
        top: var(--admin-panel-height);
    }

    .inf {
        height: 3000px;
    }
}