section.content{
    flex-grow: 1;
    padding: 24px;
    background-color: #F9F9FD;

    h2 {
        position: sticky;
        top: var(--header-height);
    }

    .inf {
        height: 3000px;
    }
}