%flex-block-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: #{$header_height};
    background-color: rgb(210, 103, 231);


    .logo {
        @extend %flex-block-center;

        i {
            width: 50px;
            height: 50px;
            float: left;
            background-color: blue;
            border-radius: 50%;
        }
    }

    nav {
        @extend %flex-block-center;

        ul.account-control {
            @extend %flex-block-center;
            padding: 0px 50px;

            .account-logo {
                width: 50px;
                height: 50px;

                i {
                    width: inherit;
                    height: inherit;
                    float: left;
                    background-color: rgb(255, 118, 182);
                    border-radius: 50%;
                }
            }
        }

        ul.control-panel {
            @extend %flex-block-center;
        }
    }

}