
.main-block nav.sidebar {
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: 5px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 5px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 5px 0px 8px 0px rgba(34, 60, 80, 0.2);

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: var(--sidebar-panel-width);
    background-color: #ffffff;
    color: var(--main-text-color);

    h6{
        color: #949494;
        margin: 8px 0px;
        font-size: 8pt;
        font-weight: normal;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        justify-content: center;

        min-height: var(--header-height);
        background-color: var(--header-background-color);

        svg {
            width: 50px;
            height: 50px;

            stroke: var(--main-logo-color);
            background: url(../resources/admin_control_panel_icon_150307.svg) center no-repeat;
        }

        h1 {
            font-size: 14pt;
            color: var(--main-logo-color);
        }
    }

    section {
        display: flex;
        flex-direction: column;
        padding: 0px 14px;
        margin: 12px 0px;

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;

            font-size: 10pt;

            li {
                display: grid;
                grid-template-columns: 50px 1fr;
                align-items: center;
                margin-right: 8px;

                svg {
                    height: 40px;
                    width: 40px;
                    fill: var(--icon-color);
                }

                a {
                    outline: none;
                    text-decoration: none;
                }

                &:hover {
                    background-color: #f3f3f3;
                }
            }

            li.activated {
                border-right: 2px solid var(--main-color);
                // background-color: #f3f3f3;
            }
        }
    }

    section.modules-items {
        overflow-y: hidden;
        margin-bottom: 20px;

        ul {
            overflow-y: auto;
        }
    }

}