
.main-block nav.sidebar {
    position: fixed;

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: var(--sidebar-panel-width);
    background-color: cadetblue;

    .logo {
        @extend %flex-block-center;

        height: var(--admin-panel-height);

        i {
            width: 50px;
            height: 50px;
            float: left;
            background: url(../resources/admin_control_panel_icon_150307.svg) center no-repeat;
            // background-color: blue;
            // border-radius: 50%;
        }
    }


    h6{
        width: 100%;
        color: blueviolet;
        background-color: rgb(110, 187, 121);
    }

    ul:nth-child(5) {
        overflow-y: auto;
    }

}